@import './vars.scss';
@import "~bulma";

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: $primary-half !important;
    color: white !important;
    // transition: background-color 5000s ease-in-out 0s;
}
